<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <link rel="stylesheet" type="text/css" href="/static/styles.css">

    <title> Trip planner - No where to go </title>

</head>

<body style="display: flex; flex-direction: column; align-items: center; text-align: right;">

    <h1 style="font-size: 80px">Welcome, {{ username }}</h1>

    
    <p style="font-size: 30px">Hi {% if username %}{{ username }}{% else %}Guest{% endif %}, don't you know where to go for the next holidays?</p>
    <p style="font-size: 30px">Type yes if you want advice!</p>
    
    <button type="button" onclick="getAdvice()">Yes</button>

    <script>
        function getAdvice() {
            window.location.href = 'http://127.0.0.1:5000/advice'; // redirect to the desired URL
        }
    </script>

</body>

</html>